################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearnDataStructure/bin/Debug/LearnDataStructure.pdb
/LearnDataStructure/obj/Debug
/LearnDataStructure/bin/Debug
/.vs/slnx.sqlite
/obj/Debug
/.vs/LearnDataStructure/v16/Server/sqlite3
